body{
    color:rgb(245, 243, 247);
    background: rgb(10, 2, 10);
    margin: 0px;
    font-family: "Poller One", sans-serif;
}

header{
    border-bottom: solid 2px rgb(247, 241, 241);
    padding: 20px;
    font-size: 32px;
    color: rgb(110, 10, 102);
}   


.chamada{
    background:gray;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}