body{
    color:rgb(245, 243, 247);
    background: rgb(10, 2, 10);
    margin: 0px;
    font-family: "Poller One", sans-serif;
}

header{
    border-bottom: solid 2px rgb(247, 241, 241);
    padding: 20px;
    font-size: 32px;
    color: rgb(110, 10, 102);
}

section{
    background:gray;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.chamada-texto{
    margin-right: 5%;
}